<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Manager Information</title>
</head>
<body>
{% include "navbar.html" %}
<h1>Manager Information </h1>
</table>
<form id="pat-reg-form" method="POST" action="/manager/create">
<table>
<tr>
<td><input name="name" placeholder="Name" id="name"></td>
<td><input id="add-man" type="submit" value="Add"></td>
</table>
</form>

{% if result %}
<table class="table table-dark" border="1">
	<tr><td colspan=6><h1>All Reports</h1></td></tr>
	<tr>
	<th>Report Id</th>
	<th>Condition</th>
	<th>Date Created</th>
	<th>Patient Id</th>
	<th>Manager Id</th>
	</tr>
	{% for rep in result %}
	<tr>
	<td>{{rep.report_id}}</td>
	<td>{{rep.condition}}</td>
	<td>{{rep.date}}</td>
	<td>{{rep.patient_id}}</td>
	<td>{{rep.manager_id}}</td>
	<td><form action="{{url_for('delete_report', report_id=rep.report_id)}}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="X" class="btn btn-danger">
        </form>
    </td>
	</tr>
	{%endfor%}
	<tr>
	<td id="count" colspan="6">Total Reports: {{result|count}}	 </td>
	</tr>
</table>
{%endif%}

</body>
</html>