<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Patient Information</title>
</head>
<body>
<h1>Patient Information </h1>
{% if result %}
<table border="1">
	<tr>
	<th>Patient Id</th>
	<th>Name</th>
	<th>D.O.B</th>
	<th>Location</th>
	<th>Occupation</th>
	</tr>
	{% for pat in result %}
	<tr>
	<td>{{pat.patient_id}}</td>
	<td>{{pat.patient_name}}</td>
	<td>{{pat.patient_date_of_birth}}</td>
	<td>{{pat.patient_location}}</td>
	<td>{{pat.patinet_occupation}}</td>
	</tr>
	{%endfor%}
	<tr>
	<td id="count" colspan="3">{{result|count}} : Patient </td>
	</tr>
</table>
<form id="pat-reg-form" method="POST" action="./patient/register">
<table>
<tr>
<td><input name="patient_name" placeholder="Name" id="name"></td>
<td><input name="patient_date_of_birth" placeholder="D.O.B" id="date_of_birth"></td>
<td><input name="patient_location" placeholder="Location" id="location"></td>
<td><input name="patient_occupation" placeholder="Occupation" id="occupation"></td>
<td><input id="add-emp" type="submit" value="Add"></td>
</table>
</form>
{%endif%}
</body>
</html>